##############################################################################
# Copyright (c) Lawrence Livermore National Security, LLC and other CHAI
# contributors. See the CHAI LICENSE and COPYRIGHT files for details.
#
# SPDX-License-Identifier: BSD-3-Clause
##############################################################################

build*/
install*/
.vscode/
*.swp
*.swo
Win32/chai.vcxproj.user
Win32/.vs/
Win32/x64/
*.aps
*.orig
*.code-workspace
