[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt.git
[submodule "src/tpl/umpire"]
	path = src/tpl/umpire
	url = https://github.com/LLNL/Umpire.git
[submodule "src/tpl/raja"]
	path = src/tpl/raja
	url = https://github.com/LLNL/RAJA.git
