jobs:
- job: Docker
  timeoutInMinutes: 360
  strategy:
    matrix:
      gcc7:
        docker_target: gcc7
      gcc8:
        docker_target: gcc8
      gcc9:
        docker_target: gcc9
      clang10:
        docker_target: clang10
      clang11:
        docker_target: clang11
      clang12:
        docker_target: clang12
      clang13:
        docker_target: clang13
      nvcc10:
        docker_target: nvcc10
      hip:
        docker_target: hip
  pool:
    vmImage: 'ubuntu-latest'
  variables:
    DOCKER_BUILDKIT: '1'
  steps:
  - checkout: self
    clean: boolean
    submodules: recursive
  - task: Docker@1
    inputs:
      command: build
      dockerFile: 'Dockerfile'
      arguments: '--target $(docker_target)'
  - script: |
      CID=$(docker create llnl/chai:$(Build.BuildId))
      echo ${CID}
      docker cp ${CID}:/home/axom/workspace/build local-build
      docker rm ${CID}
    displayName: 'Copy test artifacts'
    condition: ne( variables['docker_target'], 'nvcc')
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: '**/Test.xml'
      testRunTitle: '$(docker_target) Tests'
    condition: ne( variables['docker_target'], 'nvcc')
