strategy:
  matrix: 
    gcc5: 
      docker_target: gcc5
    gcc6:
      docker_target: gcc6
    gcc7:
      docker_target: gcc7
    gcc8:
      docker_target: gcc8
    clang4:
      docker_target: clang4
    clang5:
      docker_target: clang5
    clang7:
      docker_target: clang6
    nvcc:
      docker_target: nvcc

variables:
  DOCKER_BUILDKIT: '1'

steps:
- checkout: self
  clean: boolean
  submodules: recursive
- task: Docker@1
  inputs:
    command: build
    dockerFile: Dockerfile
    arguments: '--target $(docker_target)'
- script: |
    echo "$(Build.Repository.Name):$(Build.BuildID)"
    echo "llnl-chai-$(docker_target):$(Build.BuildId)"
    CID=$(docker create llnl-chai-$(docker_target):$(Build.BuildId))
    echo ${CID}
    docker cp ${CID}:/home/axom/workspace/build local-build
    docker rm ${CID}
  displayName: 'Copy test artifacts'
  condition: ne( variables['docker_target'], 'nvcc')
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'cTest'
    testResultsFiles: '**/Test.xml'
  condition: ne( variables['docker_target'], 'nvcc')
